<html>
    <head>
        <title>Tab2Txt</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist">
        <link rel="stylesheet" type="text/css" href="css/w3style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="w3-content w3-black" style="max-width:1500px;">
        <header class="w3-display-container w3-center">
            <div class="mySlides w3-animate-opacity">
                <div class="container">
                    <img src="assets/architecture-g65fefeee7_1920.jpg" alt="Image 1" style="min-width:500px" width="1500" height="1000" opacity="0.8">
                    <div class="boxed">
                        <h1 class="titleh1">PyFS</h1>
                        <h2 class="titleh2">Python für Statistikberichte</h2>
                    </div>
                </div>
            <img class="logo" src="assets/Asset 1.png">
              <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
                <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                  <h1 class="w3-xlarge">Erstellen Sie den Bericht</h1>
                  <hr class="w3-opacity">
                  <p>Schnell, einfach und automatisch</p>
                  <form method="POST" action="/run-script">
                    <p><button class="w3-button w3-block w3-green w3-round" type="submit">Run Script</button></p>
                    </form>
                </div>
              </div>
            </div>
          </header>
          <div class="copyright">
            © 2023 by Abteilung Aussenbeziehungen und Statistik Stadt Bern
          </div>
    </body>
</html>




  